html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-test {
  background-image: url('https://cdn.pixabay.com/photo/2021/07/02/06/49/dog-6381087_960_720.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}